.section-3 {
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(/images/space2.jpg) center center/cover no-repeat;

  &-content {
    @include textStyles();
    @include headingStyles();
    position: absolute;
    top: 10%;
    color: color(whiteColor);

    h2 {
      font-size: size(xl);
    }

    p {
      font-size: size(xs);
      width: 50%;
    }
  }
}
