.section-2 {
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(/images/space3.jpg) center center/cover no-repeat;

  &-content {
    @include textStyles();
    @include headingStyles();
    position: absolute;
    top: 50%;
    color: color(whiteColor);

    @include response(lg) {
      top: 30%;
    }

    @include response(xs) {
      top: 10%;
    }

    h2 {
      font-size: size(xl);
    }

    p {
      font-size: size(xs);
      width: 50%;

      @include response(xs) {
        width: 100%;
      }
    }
  }
}
